@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  margin: 0;
  padding: 0 1em 0 1em;

  font-family: "Roboto Mono", monospace;
  font-size: large;

  background-color: #282828;
  color: #ebdbb2;

  word-spacing: 0px;
}
